.modal{
    height: 100vh;
    
}
.modal-dialog{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.modal-content{
    height: 80%;
   
}
.modal-content>header{
    height: 20%;
}
.modal-footer>button:nth-child(1){
    background-color: var(--base-color-primary);
}
.modal-footer>button:nth-child(1):hover{
    color:var(--color-primary);
    font-weight: bold;
}




/**/
.modal-body{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.modal-body-description{
    width:100%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;

}
.modal-body-description>div{
    font-size: 18px;
    font-family: var(--letter-title);
    display: flex;

}
.innteraction{
    display:flex;
    flex-direction: row;
    gap:3px;
}
.innteraction>div{
    width:40px;
    height: 40px;
}
.innteraction>div>button{
    width:100%;
    height: 100%;
    border-radius: 20%;
    background-color: var(--base-color-primary);
    color:white;
}
.innteraction>div>button>img{
    width: 100%;
    height: 100%;
}