:root{
  --base-color-primary : rgb(255, 109, 114);
  --base-color-secondary : #3398DB;

  --color-primary:black;
  --color-secondary:white;

  --font-text:'Macondo', cursive;
  --font-title:'Questrial', sans-serif;;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
